.backgroundCaja{
    height: 500px;
     background: url(caja2.png);
    background-repeat: no-repeat;
    background-position: center center;
    
    -moz-background: url(caja2.png);
    -moz-background-repeat: no-repeat;
    
    -moz-background-attachment: fixed;
    -webkit-background: url(caja2.png);
    -webkit-background-repeat: no-repeat;
    position: relative;    
}

.texto{
    font-size: 18px;
    margin-left: 38%;
    top: 50%;
    position: absolute;
    color: rgba(0, 0, 0, 0.68);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.73);
    transform: rotate(1deg);
    
}